<div class="content_post">
  <div class="more">
    <ul class="more_list">
      <% if user_signed_in? %>
        <li>
          <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
        </li>
        <% else %>
          <%= %>
      <% end %>
    </ul>
  </div>